{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/funcionarios/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Editar</th>
        </tr>
        {% for f in funcionarios %}
        <tr>
            <td>{{f.nome}}</td>
            <td>{{f.cargo}}</td>
            <td>{{f.id_empresa}}</td>
            <td><a href="edit/{{f.id_funcionario}}">Editar</a></td>
            
        </tr>
        {% endfor %}
    </table>
{% endblock %}