<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>
<body>
    <header>
        <nav>
        
            <ul>
                
                <li>
                    <a href="/empresa">Empresa</a>
                </li>
                <li>
                    <a href="/funcionarios">Funcionarios</a>
                </li>
            </ul>
        </nav>
        <main>
            <h1>
        SISTEMA DE EMPRESAS E FUNCIONARIOS 
    </h1>
            <img src="{{url_for('static', filename='img/2018_01_29B.jpg')}}">
        </main>
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>